
.jumbotron{background:#F7DF1E}

h1.display-3{color:#fff}

.contenedor_footer{background:#83DA77;
                    margin-top: 10px;
                   padding-top:10px;}

.contenedor_footer a{color:#222222;}

p.dir{line-height: 0.5em;}

.btn-secondary{color:#222222;
              background:#83DA77;
            border-color: transparent;}

.btn-secondary:hover{color:#222222;
              background:#54B848;             

}

.btn{width: 100%;
    }
p{text-align: justify;}   

h2{text-align: center;
  color:#83DA77;
  text-transform:uppercase;}

.p1,.p2,.p3{color: #273746 ;}  
           